[Unit]
Description=Wordpress Stack
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=dockworker
RemainAfterExit=true
WorkingDirectory=/opt/docks_services/wordpress
ExecRestart=/usr/bin/docker-compose restart --remove-orphans
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
